/*.logo{
    width:160px;
    height:95px; 
    position:absolute;
    top: 0;
    // left: 0;
    border-radius: 0 0 5px 5px; 
}*/
.yel{
     color: #f8a10c !important;
     font-weight:bold;
}
.forront {
    font-family:'MV Boli';
    top: 500%;
    right:23%;
    font-size:xx-large;
    position:absolute;
}
.test {
    background-image: url("../img/logo1.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: calc(97.5vh - 40px);
}
.slogan{
    color:white;
}
.logo{
    font-size:20px;
    font-weight:bold;
    color: #f8a10c !important;/*//#e1f765 */
}
.nav{
    position: relative;
}
.bor {
    border-color: darkred;
}
body {
 background-color:#ddd;
 overflow-x: hidden;
}

