/*.logo{
    width:160px;
    height:95px; 
    position:absolute;
    top: 0;
    // left: 0;
    border-radius: 0 0 5px 5px; 
}*/
.title {
    display: inline-block;
    font-size: 2.9rem;
    font-weight: 100;
    padding: 10px 0;
    margin-bottom: 44px;
    text-align: center;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2;
    color: #555;
    margin-top: 20px;
    letter-spacing: 0;
}

.navbar-brand {
    line-height: 2;
}
.yel {
    color: #f8a10c !important;
    font-weight: bold;
}

.forront {
    font-family: 'MV Boli';
    top: 700%;
    right: 23%;
    font-size: xx-large;
    position: absolute;
}

.test {
    background-image: url("../img/logo1.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: calc(97.5vh - 40px);
    max-width:100%;
}
main{
    margin-top: 50px;

}
.slogan {
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    color: #f8a10c !important; /*//#e1f765 */
}

.nav {
   
    padding:0px !important;
    margin:0px !important;
}

.bor {
    border-color: darkred;
}

body {
    background-color: #fff ;/*#181b1d;*/
    overflow-x: hidden;
}
